<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095996929702-0m6uaa2rumssns8732riod1sdtgr5g8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095996929702-0m6uaa2rumssns8732riod1sdtgr5g8b</string>
	<key>API_KEY</key>
	<string>AIzaSyDg02ymv4JpYyrUdUZhhgeyniTF78kNY_c</string>
	<key>GCM_SENDER_ID</key>
	<string>1095996929702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgp.summer2020</string>
	<key>PROJECT_ID</key>
	<string>summer2020-a63e6</string>
	<key>STORAGE_BUCKET</key>
	<string>summer2020-a63e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095996929702:ios:88a8a5ddae9ecb9466a667</string>
	<key>DATABASE_URL</key>
	<string>https://summer2020-a63e6.firebaseio.com</string>
</dict>
</plist>